<% title 'Reset Password' %>

<% content_for :page_title do %>
  <span class="mobile-logo">OneList</span>
<% end %>

<h1>Reset Password</h1>

<%= form_tag password_reset_url, :method => :post, :class => 'password_reset' do %>
  <div class="input rounded-3">
    <%= label_tag :email, nil, :class => 'inlined' %>
    <%= email_field_tag :email, params[:email], { :autocorrect => "off", :autocapitalize => "off" } %>
  </div>
  <%= submit_tag "Reset Password", :class => 'rounded-3', :id => 'submit' %>
<% end %>

<% content_for :footer do %>
<%= link_to "Moment of clarity? Login", log_in_path %>
<% end %>
