<% title 'Change Password' %>

<% content_for :page_title do %>
  <span class="mobile-logo">OneList</span>
<% end %>

<h1>Change Password</h1>

<%= form_for @current_user, :url => password_change_path do |f| %>
  <div class="input rounded-3">
    <%= f.label :password, "New Password" %>
    <%= f.password_field :password %>
  </div>
  <div class="input rounded-3">
    <%= f.label :password_confirmation, "New Password Confirmation" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= submit_tag "Confirm", :class => 'rounded-3', :id => 'submit' %>
<% end %>
